body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card {
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.card img {
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0  0 ;
}

.card p {
    color: white;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
}

footer {
    text-align: center;
    color: #4CAF50;
    font-weight: 700;
}